

  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200;400;500&family=Open+Sans:wght@500&family=Quattrocento+Sans:wght@400;700&display=swap');

  body {
   background-color: #efecec;
  }
 /* #dbd8 */
  nav {
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #bab7b7;
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 #myHeader {
   display: inline-block;
   margin-left: 100px;
   font-family: 'Montserrat', sans-serif;
   transform: scale(1.5);
   transform-origin: left;
   
 }
 
 .nav_links {
   display: inline-block;
   margin-right: 20px;
 }
 
 .nav_links a {
   text-decoration: none;
   color: black;
   text-decoration: none; 
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 200;
 }

 .nav_links a:hover {
   color: #ff1975;
 }

 .underline {
  width: 75px;
  height: 3px;
  background-color: white;
  transition: all .4s ease-in-out;
 }


  
/*
#underline {
    position: absolute;
    height: 3px;
    width: 100%; 
    background-color: #ff1975;
    left: 0;
    bottom: 1rem;
    transition: 0.5s ease;
 }
 

 nav ul li a { 
    color: black ;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

  }

nav 
*/
 


/* .button {
   position: relative;
   background: #676586; 
   display: inline-block;
   color: #fff;
   margin-top: 20px;
   padding: 10px 30px ;
   font-size: 18px;
   text-decoration: none;
   letter-spacing: 2px ;
   border-radius: 10px;
  
}
